body{
    border-style: solid ;
    border-radius: 77px;
    background-color: beige;
    text-align: center;
}
    #myButton{
        margin: 5px;
        padding: 7px 7px 7px 7px;
        color: white;
        background-color: hsl(194, 87%, 79%);
        cursor: pointer;
        border-radius: 7px;
        font-size: 5em;
        transition: background-color 0.25s;
}
#myButton:hover{
    background-color: solid rgb(42, 252, 0) ;
}
.myLabels{
    border-style: solid;
    border-radius: 3px;
    background-color: springgreen;
    font-size:8em;
    font-family: Helvetica;
}